{{extend 'layout.html'}}

<div class="">
    <div id="sidebar-wrapper" class="sidebar-toggle">
        <div class="sidebar-body">
            {{=form_pesq.custom.begin}}
            <div class="item">
                {{=form_pesq.custom.label.fornecedor}}
                {{=form_pesq.custom.widget.fornecedor}}
            </div>
            <div class="item">
                {{=form_pesq.custom.label.grupo}}
                {{=form_pesq.custom.widget.grupo}}
            </div>
            <div class="item">
                {{=form_pesq.custom.label.dtestoque}}
                {{=form_pesq.custom.widget.dtestoque}}
            </div>

            <div class="botao" align="center">
                {{=form_pesq.custom.submit}}
            </div>
            {{=form_pesq.custom.end}}
            <hr>
            {{if estoque > 0:}}
            <h5 align="center">Quantidade</h5>
            <h4 align="center">{{=int(estoque)}}</h4>
            <h5 align="center">Total do Estoque</h5>
            <h4 align="center">{{=total}}</h4>
            {{pass}}
        </div>
    </div>
</div>
<main>
    <div class="container">
        <h4 align="center"> Relatório de Estoque </h4>
        <table id="vendas" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Produto</th>
                    <th>Fornecedor</th>
                    <th>Grupo</th>
                    <th>Estoque</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {{for r in inventario:}}
                <tr>
                    <td>{{=r['codigo']}}</td>
                    <td>{{=r['produto']}}</td>
                    <td>{{=r['fornecedor']}}</td>
                    <td>{{=r['grupo']}}</td>
                    <td class="text-right">{{=r['estoque']}}</td>
                    <td class="text-right">{{=r['total']}}</td>
                </tr>
                {{pass}}
            </tbody>
        </table>
    </div>

</main>
</div>
<script>
    $(document).ready(function () {
        $('#vendas').DataTable({
            select: true,
            paging: false,
            scrollY: 400,
            scrollCollapse: true,
            searching: false,
            order: [1, "asc"],
            ordering: true,
            language: { "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Portuguese-Brasil.json" },
        });
    });

</script>

