{{extend 'layout.html'}}
{{include 'modal.html'}}

<div class="">
    <div id="sidebar-wrapper" class="sidebar-toggle">
        <div class="sidebar-body">
            {{=form_pesq.custom.begin}}
            <div class="item">
                {{=campo_pesq(form_pesq.custom.label.produto,form_pesq.custom.widget.produto,btnPesquisar)}}
            </div>
            <div class="item">
                {{=form_pesq.custom.label.dtinicial}}
                {{=form_pesq.custom.widget.dtinicial}}
            </div>
            <div class="item">
                {{=form_pesq.custom.label.dtfinal}}
                {{=form_pesq.custom.widget.dtfinal}}
            </div>
            <div class="item">
                {{=form_pesq.custom.label.deposito}}
                {{=form_pesq.custom.widget.deposito}}
            </div>

            <div class="botao" align="center">
                {{=form_pesq.custom.submit}}
            </div>
            {{=form_pesq.custom.end}}
            <hr>
        </div>
    </div>
</div>
<main>
    <div class="container" id='teste'>
        <h4 align="rigth"> {{=titulo}} </h4>
        {{=extrato}}
    </div>
</main>
</div>


