{{=form.custom.begin}}
<div class="row">
    {{=campo(12,form.custom.label.codpro,form.custom.widget.codpro)}}
</div>
<div class="row">
    {{=campo(6,form.custom.label.datest,form.custom.widget.datest)}}
    {{=campo(6,form.custom.label.qntpro,form.custom.widget.qntpro)}}
</div>
<div class="row">
    {{=campo(12,form.custom.label.obsest,form.custom.widget.obsest)}}
</div>
<div class="row">
    {{=campo(6,form.custom.label.entsai,form.custom.widget.entsai)}}
    {{=campo(6,form.custom.label.locest,form.custom.widget.locest)}}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
    {{=form.custom.submit}}
</div>
{{=form.custom.end}}